*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4rem;
  font-weight: 500;
}

.main-container {
  margin: 0 auto;
  max-width: 34rem;
  padding-top: 2.8rem;
}

.card__img {
  border-radius: 5px 5px 0px 0px;
  max-width: 100%;
}

.card-info-container {
  padding: 0rem 2.4rem;
}

.product__cat {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  padding: 2.2rem 0 1.2rem 0;
}

.product__heading,
.price {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.product__heading {
  color: #000;
  font-size: 3.2rem;
  line-height: 3rem;
}

.product-intro {
  line-height: 2.3rem;
  margin: 1.6rem 0 2.4rem 0;
}

.price-container {
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
}

.price {
  color: #3c8067;
  font-size: 3.5rem;
}

.strike--through {
  text-decoration: line-through;
}

.cart__icon {
  margin-right: 1.2rem;
  vertical-align: middle;
}

.buy__btn {
  background-color: #3c8067;
  border-radius: 6px;
  border-style: none;
  color: #fff;
  font-weight: 700;
  margin: 2rem 0 2.4rem 0;
  padding: 1.6rem 1.4rem;
  width: 100%;
}

/* Media Queries*/

@media (min-width: 650px) {
  .main-container {
    display: flex;
    flex-direction: row;
    max-width: 60rem;
  }

  .pic-container,
  .card-info-container {
    max-width: 50%;
  }

  .card-info-container {
    padding: 0 3.1rem;
  }

  .product__cat {
    padding: 3.2rem 0 2rem 0;
  }

  .product-intro {
    margin: 2.4rem 0 2.9rem 0;
  }

  .buy__btn {
    margin: 3.2rem 0 3rem 0;
  }
}
